{% block layout_style %}
    <style type="text/css">
        @page {
            size: letter landscape;
            margin: 2.54cm;
            @frame header {
                -pdf-frame-content: page-header;
                margin-top: 1.3cm;
                margin-right: 2mm;
                margin-bottom: 1cm;
                margin-left: 1.2cm;
            }
        }
    </style>
{% endblock %}
{% block extra_style %}
    <style type="text/css">
        html {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }
        p {
            margin: 0 0 6px 0;
            font-size: 11pt;
        }
        table {
            line-height: 140%;
            margin-bottom: 20px;
        }
            table.bordered {
                border-top: 0.1pt solid #999999;
                border-bottom: 0.1pt solid #999999;
            }
            tr, td, th { border: none; }
            th {
                font-size: 10pt;
                border-bottom: 0.1pt solid #999999;
                padding: 3px 0;
                line-height: 1;
                font-weight: bold;
            }
            td {
                font-size: 10pt;
                vertical-align: top;
                padding: 3px 0;
            }
            td:last-child { padding-bottom: 0; }
        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }
        .header { color: #7f7f7f; }
        .header p { font-size: 13px; line-height: 1.5em; }
        .header-link { font-weight: bold; text-decoration: none; color: #4F81BD; font-size: 14px; }
        .logo { margin-bottom: 20px; margin-left: -25px; }
        .logo img { zoom: 60%; }
        .recipient { margin-left: 7cm; }
        .main h1 {
            margin: 18px 0 18px 0;
            font-size: 250%;
            font-weight: normal;
            color: #4F81BD;
        }
        .main h2 {
            margin: 18px 0 6px 0;
            font-size: 180%;
            font-weight: normal;
        }
        .info { border: 1px solid #4F81BD; padding: 10px; margin-top: 50px; margin-bottom: 50px; }
        .info a { color: #4F81BD; text-decoration: none; }
    </style>
        <meta charset="utf-8">
        <title>{{Profesor.nombre}}</title>
    </head>
{% endblock %}
{%block page_header%}

{% endblock %}
{% block content %}
    <div id="content">
        <div class="header-p">
            <h1>
                <center><strong>INBARCCH</strong></center>
            </h1>
            <h2>
                <right>Aldea Chanmagua </right><br>
                <right>Tel: 40831420<right/>
            </h2>
            <div align="right"><img src="C:\Users\aguil\Desktop\MEGA\PG\inbarcch\Archivo\static\img\Instituto.png"
            width="100"height="100"></div>
        </div>
        <!--
        <p class="info">
            This is an example of <a href="https://github.com/nigma/django-easy-pdf">django-easy-pdf</a>
            &ndash; Django PDF rendering the easy way.
            Check <a href="http://en.ig.ma/">en.ig.ma</a> for Django and Python development.
        </p>
        -->

        <div class="main">
            <h1><center>Informe de Profesor</center></h1>
            <table>
                <thead>
                    <tr>
                        <th class="text-right">Nombre</th>
                        <th class="text-right">Codigo</th>
                        <th class="text-right">DPI</th>
                        <th class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha &nbsp;&nbsp;&nbsp;&nbsp;
                          de &nbsp;&nbsp;&nbsp;&nbsp;Nacimiento</th>
                        <th class="text-right">Dirección</th>
                        <th class="text-right">Teléfono</th>
                        <th class="text-right">Sueldo</th>
                        <!--<th class="text-left">Ubicación Geográfica</th>
                        <th class="text-left">Mapa</th>-->
                    </tr>
                </thead>
                <tbody>

                <tr>
                    <td><h3><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;{{Profesor.nombre}}</center></h3></td>
                    <td><h3><center>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      {{Profesor.codigo}}</center></h3></td>
                    <td><h3><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;{{Profesor.dpi}}</center></h3></td>
                    <td><h3><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      {{Profesor.fecha_nac|date:"SHORT_DATE_FORMAT" }}</center></h3></td>
                    <td><h3><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;{{Profesor.direccion}}</center></h3></td>
                    <td><h3><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      {{Profesor.telefono}}</center></h3></td>
                      <td><h3><center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{Profesor.Sueldo}}</center></h3></td>
                    <!--<td><h3><center>{{ deta1.g_ubicacion }}</center></h3></td>
                    <td><h3><center>{{ deta1.mapa }}</center></h3></td>-->
                </tr>

                </tbody>
            </table>
            <!--
            <table class="bottom-20">
                <tr>
                    <td><strong>Total</strong></td>
                    <td class="text-right"><strong>100 Doge</strong></td>
                </tr>
            </table>
            <h2>Payment details</h2>
            <p class="bottom-20">
                Please cover the invoice within 10 days.
            </p>
            -->
        </div>
    </div>
{% endblock %}
